<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>mainController</filter-name>
        <filter-class>controllers.mainController</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>mainController</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>homeController</servlet-name>
        <servlet-class>controllers.homeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controllers.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerController</servlet-name>
        <servlet-class>controllers.registerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guestController</servlet-name>
        <servlet-class>controllers.guestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>servlets.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>servlets.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unverifiedAccountController</servlet-name>
        <servlet-class>controllers.unverifiedAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>servlets.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendEmailVerificationServlet</servlet-name>
        <servlet-class>servlets.sendEmailVerificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyEmailServlet</servlet-name>
        <servlet-class>servlets.verifyEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileController</servlet-name>
        <servlet-class>controllers.profileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfileServlet</servlet-name>
        <servlet-class>servlets.updateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePasswordServlet</servlet-name>
        <servlet-class>servlets.changePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>owningController</servlet-name>
        <servlet-class>controllers.owningController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homeController</servlet-name>
        <url-pattern>/homeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerController</servlet-name>
        <url-pattern>/registerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guestController</servlet-name>
        <url-pattern>/guestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unverifiedAccountController</servlet-name>
        <url-pattern>/unverifiedAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendEmailVerificationServlet</servlet-name>
        <url-pattern>/sendEmailVerificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyEmailServlet</servlet-name>
        <url-pattern>/verifyEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profileController</servlet-name>
        <url-pattern>/profileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfileServlet</servlet-name>
        <url-pattern>/updateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePasswordServlet</servlet-name>
        <url-pattern>/changePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>owningController</servlet-name>
        <url-pattern>/owningController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
